doctype
html(lang="en")
	head
		title Accedo Vod App
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(class="row text-center")
			div(class="col-md-4 text-left links")
				a(href="/") Home
			div(class="col-md-4 text-center mainheading")
				h1 Movies as VoD
			div(class="col-md-4 text-right links")
				a(href="#history") History
		br
	block content